type project
id LiteDB.FSharp
version 2.15.1
authors
    Zaid Ajaj
owners
    Zaid Ajaj
requirelicenseacceptance false
licenseurl https://github.com/Zaid-Ajaj/LiteDB.FSharp/blob/master/LICENSE
projecturl https://github.com/Zaid-Ajaj/LiteDB.FSharp
description
    Advanced F# Support for LiteDB with query construction through quotation expressions
releaseNotes
    Restrict LiteDB version to 4.x
include-pdbs false
tags
    fsharp litedb embedded database document-database
